@model IEnumerable<SimpelVagtplan.Models.Vagt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medarbejder.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                Opgaver
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medarbejder.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @foreach(Opgave opgave in ViewBag.opgaver)
            {
                if (opgave.vagt != null && opgave.vagt.Equals(item))
                {
                    @opgave.Title 

                    @*
                        
                    <a asp-action="RemoveOpgave" asp-route-id="@opgave.Id" >Delete</a>
                    <br />*@            
                }
                
            }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="AddOpgave" asp-route-id="@item.Id">Add Opgave</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
            
        }
    </tbody>
</table>
